namespace: nlp-pipeline

datadog:
  image: gcr.io/datadoghq/agent:7
  site: datadoghq.eu

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
